<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <a routerLink="/home">
      <ion-title>
        View Files - Marine
      </ion-title>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-label><b>Name</b></ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label><b>ID</b></ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label><b>Category</b></ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label><b>Status</b></ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label><b>View</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="border-top: ridge;border-color: #96bce4;">
        <ion-col col-3>
          <ion-label>ERA Calebration procedure</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>SSP-174-MRN-112</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Marine</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Published</ion-label>
        </ion-col>
        <ion-col col-3>
          <a href="" (click)="showPDF()">Download</a>
        </ion-col>
      </ion-row>
      <ion-row style="border-top: ridge;border-color: #96bce4;">
        <ion-col col-3>
          <ion-label>ERA Calebration procedure</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>SSP-174-MRN-112</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Marine</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Published</ion-label>
        </ion-col>
        <ion-col col-3>
          <a href="" (click)="showPDF()">Download</a>
        </ion-col>
      </ion-row>
      <ion-row style="border-top: ridge;border-color: #96bce4;">
        <ion-col col-3>
          <ion-label>ERA Calebration procedure</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>SSP-174-MRN-112</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Marine</ion-label>
        </ion-col>
        <ion-col col-3>
          <ion-label>Published</ion-label>
        </ion-col>
        <ion-col col-3>
          <a href="" (click)="showPDF()">Download</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>