<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Share Point - Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <div>
    <ion-toolbar color="white">
      <ion-title class="subtitle">
        <img alt="logo" id="header_logo" height="30" float-left src="assets/icon/logo.png"> 
        <span class="heading"> {{displayName}} - {{selectedFolder}}</span>
        <span class="heading"></span>
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-spinner name="lines" *ngIf="showLoadingImage"></ion-spinner>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar showCancelButton="never"   
  (ionChange)="searchName($event.target.value)" (ionCancel)="cancelSearch($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>

      <ion-col size="1.5">
          <div style="padding: 11px;border-bottom: ridge;border-color: #96bce4;">
            <a (click)="selectFolder('Home')">
              <div id="Home">Home</div>
          </a>
          </div>
          <div style="padding: 11px;border-bottom: ridge;border-color: #96bce4;" *ngFor="let item of folderList">
            <a (click)="selectFolder(item.value)">
            <div id="{{item.value}}">{{item.value}}</div>
          </a>
          </div>
      </ion-col>

      <ion-col size="10.5">
        <ion-card>
          <ion-grid>
            <table id="fileTable" style="width:100%;" >
              <tr style="align-items: flex-start; align-content: initial; background-color: #d8d8d8;">
                <th>
                  
                </th>
                <th col-3 align="left">
                  <a (click) ="sortTable(1)"><b>Name</b></a>
                </th>
                <th col-3 align="left">
                  <b>Document ID</b>
                </th>
                <th col-3 align="left" *ngIf="isHomeSelected">
                  <b>Category</b>
                </th>
                <th col-3 align="left">
                  <b>Document Status</b>
                </th>
                <th col-3 align="left">
                  <b>Parent Sems Standard</b>
                </th>
                <th col-3 align="left">
                  <b>Related Documents</b>
                </th>
                <th col-3 align="left">
                  <b>Rev Date</b>
                </th>
                <th col-3 align="left">
                  <b>Rev</b>
                </th>
              </tr>
              <tr style="align-items: flex-start; border-top: ridge;border-color: #96bce4;" *ngFor="let item of listOfFilesDisplay">
                <td>
                  <ion-icon [color]="item.isDownloaded =='true' ? 'success' : 'danger'" color="success" name="square"></ion-icon>
                </td>
                <td col-3>
                  <a class="docname" (click)="showPDF(item)">{{item.name}}</a>
                </td>
                <td col-3>
                  {{item.documentID}}
                </td>
                <td col-3 *ngIf="isHomeSelected">
                  {{item.category}}
                </td>
                <td col-3>
                  {{item.documentStatus}}
                </td>
                <td col-3>
                  {{item.parentSemsStandard}}
                </td>
                <td col-3>
                  {{item.relatedDocuments}}
                </td>
                <td col-3>
                  {{item.revDate}}
                </td>
                <td col-3>
                  {{item.rev}}
                </td>
              </tr>
            </table>            
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <div align="center" class="nodata" *ngIf = "listOfFilesDisplay.length == 0">
              <b>No Files Found!</b>
            </div>
          </ion-grid>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>